S3method(plot,CART)
S3method(predict,CART)
S3method(print,CART)
export(cart)
export(cart.boosting)
export(cart.boosting.Icv)
export(cart.boosting.Icv.cv)
export(cart.boosting.cv)
export(cart.cv)
export(cart.cv.without.score)
export(cart.easyensemble)
export(cart.easyensemble.Icv)
export(cart.easyensemble.Icv.cv)
export(cart.easyensemble.Icv.w2)
export(cart.easyensemble.cv)
export(cart.mds)
export(cart.mds.cv)
export(draw.cart)
export(my.predict.cart)
export(my.predict.cart.with.score)
export(stump)
